@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;1,300&family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Grandstander', cursive;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7E8C49;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 80%;
}

h1 {
    font-size: 5vw;
    text-align: center;
}

.area_jogo {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 20px;
    justify-items: center;
}

.area_jogo button {
    width: 125px;
    height: 125px;
    cursor: pointer;
    font-size: 7vw;
    background: rgb(219, 243, 134);
    border-radius: 5px;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

.vez_quem {
    font-size: 2vw;
    font-weight: 1000;
    text-align: center;
}

.placar {
    font-size: 1.5vw;
    background-image: url("./estilos/imagens/planodefundoplacar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    border-style: ridge;
    border-width: 1ch;
    border-color: #87542A;
    color: white;
    margin-left: 3%;
}

.placar_title {
    
    margin-bottom: 10px;
}

.placar p {
    font-size: 1.5vw;
    line-height: 1.5;
    font-weight: 1000;
}

.x-style {
    color: rgb(255, 0, 0);
}

.o-style {
    color: rgb(0, 0, 255);
}

.bola {
    color: rgb(0, 0, 255);
    font-weight: 1000;
}

.xis {
    color: rgb(255, 0, 0);
    font-weight: 1000;
}

.empates {
    color: green;
    font-weight: 1000;
}

#restartButton{
    margin-top: 5px;
    color: rgb(255, 255, 255);
    background: transparent;
    border: none;
    font-size: 1.5ch;
    border-radius: 1ch;
    padding: 1%;
    margin-left: auto;
    cursor: pointer;
}

